terminator-standalone/src/main/resources/standalone_configuration.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="standaloneConfiguration" type="standaloneConfiguration"/>

  <xs:complexType name="standaloneConfiguration">
    <xs:sequence>
      <xs:element name="startDatapath" type="startDatapath" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="startDatapath">
    <xs:sequence>
      <xs:element name="datapath" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

